.login{
    font: small-caps bold 18px/1 sans-serif;
    text-align: center;
    color: #4f759b;
}

.space{
    display:grid;
}

button{
    border: none;
    font: small-caps bold 18px/1 sans-serif;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    color: #8f6e5d;
    background-color: #92c9b182;
}

#container {
   text-align: center;
   margin-top: 10px;
}

.txt{
    display: block;
}

.link{
    color: #89608e;
    text-decoration: none;
    text-align: center;
    font: small-caps bold 24px/1 sans-serif;
}

.link:hover{
    color:#5d5179;
}

.pic{
    padding-bottom: 50%;
}